body{
    width:100%;
    height: 100vh;
    margin:0px;
    background: rgba(239,239,239,1);
}
*{
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 75px;
    margin: 6px auto;
    text-align: center;
    color:black;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    color: #dea5a5;
}
.user-input{
    width:250px;
    height: 40px;
    padding: 4px;
    margin: 10px auto;
    background:transparent;
    border:2px solid #aaaaaa;
    border-radius: 2px;
}
#logo{
  position: absolute;
  width: 120px;
  height: 120px;
  left: calc(50% - 55px);
  top: 120px;
  border: 5px solid white;
  border-radius: 50%;
}
button{
    width:250px;
    background-color: black;
    border: 1px solid black;
    color:white;
    border-radius: 2px;
    margin: 8px 0px;
    padding: 8px 24px;
}
#signup{
    width:100px;
    background-color: black;
    border: 1px solid black;
    color:white;
    border-radius: 2px;
    margin: 8px 0px;
    padding: 8px 24px;
    text-align: center;
    font-size: 14px;
}
.stripe-vertical{
    position: fixed;
    width:2px;
    background: black;
    height: 100%;
    top: 0px;
    left: 30px;
}
.stripe-horizontal{
    position: fixed;
    width:100%;
    background: black;
    height: 2px;
    top: 40px;
    left: 0px;
}
.button-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.screen-3-button{
    width:150px;
    background-color: black;
    border: 1px solid black;
    color:2A465B;
    border-radius: 2px;
    margin: 16px;
    padding: 12px 24px;
    text-align: center;
    font-size: 18px;
}
.clickable-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screen-5-holder{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 40px 80px;
}
.screen-5-side{
    flex:1 0 0;
}

.link-image{
    width:230px;
    height:180px;
    margin:0px auto;
}
.link-singer{
    font-size:24px;
    margin: 0px;
}
.link-country{
    margin: 15px;
}
.screen-6-text{
    max-width: 1200px;
    margin: 15px;
    font-size: 18px;
}
tr:hover { background: #abd; }
td { border: 3px solid #abd; border-collapse: collapse; }
td a { display: block; padding: 10px 70px; }

.seperator{
    text-align: center;
}
